@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;700&display=swap");

// Bootstrap customizations
// Type
$font-family-sans-serif: "Inter", sans-serif;
$font-family-serif: "Martel", serif;
$font-size-base: 1rem;
$font-family-base: $font-family-sans-serif;

$font-weight-lighter: lighter;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 700;

$headings-font-weight: 400;
$headings-font-family: $font-family-serif;

$lead-font-weight: 300;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$link-decoration: none !default;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #1073ae !default;
$indigo: #272c8c !default;
$purple: #5d2e8c !default;
$pink: #f2b2b2 !default;
$red: #f24405 !default;
$orange: #f29f05 !default;
$yellow: #f2cc0f !default;
$green: #02734a !default;
$teal: #00b2a5 !default;
$cyan: #23c1d9 !default;

$primary: $red !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

// Spacing
$spacer: 1.5rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// Grid columns

$grid-gutter-width: 2rem !default;
